/* Reset and base styles */

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* styles */

body {
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

/* Общие стили */

.container {
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 80px;
    background-color: #f1f2f6;
    text-align: center;

    & p {
        font-size: 12px;
    }

    & h1 {
        margin: 20px 0;
        font-size: 19px;
        font-weight: bold;
    }

    .demo-text {
        width: 190px;
        margin: 0 auto;
        padding: 10px 20px;
        background-color: #ff6348;
        color: #fff;
        border-radius: 5px;
        font-size: 10px;
        font-weight: bold;
    }

    .additional-text {
        width: 430px;
        margin: 20px auto;
        padding: 10px 70px;
        background-color: #5352ed;
        color: #fff;
        border-radius: 5px;
        font-size: 11px;

        & p {
            padding-bottom: 3px;
            font-weight: bold;
        }
    }

    .additional-text-2 {
        width: 500px;
        margin: 35px auto;
        padding: 10px 70px;
        font-size: 15px;
        font-weight: bold;
    }

    .question-block {
        width: 380px;
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 11px;

        .question-number {
            color: #ff4757;
        }

        .question-answers {
            width: 100%;
            margin: 10px auto;
            padding: 15px 25px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .answer-option {
                padding: 2px 0;
                display: flex;
                align-items: center;

                & input[type="radio"] {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    width: 11px;
                    height: 11px;
                    margin-right: 8px;
                    border: 1px solid #ced6e0;
                    border-radius: 50%;
                }

                & input[type="radio"]:checked {
                    width: 7px;
                    height: 7px;
                    margin-left: 2px;
                    margin-right: 10px;
                    background-color: #ff4757;
                    border: 1px solid #ff4757;
                    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ff4757;
                }
            }
        }
    }
}

/* Стили для мобильников */

@media (max-width: 600px) {
    .container {
        padding: 10px 20px;

        .additional-text {
            width: 100%;
            margin: 10px auto;
            padding: 10px;
            font-size: 14px;
        }

        .additional-text-2 {
            width: 100%;
            margin: 20px auto;
            padding: 10px;
            font-size: 18px;
        }

        .question-block {
            width: 100%;
            margin: 10px auto;
            font-size: 14px;
        }
    }
}

/* Стили для планшетов */

@media (min-width: 601px) and (max-width: 1024px) {
    .container {

        .additional-text {
            width: 450px;
            margin: 20px auto;
            padding: 10px;
            font-size: 16px;
        }

        .additional-text-2 {
            width: 100%;
            padding: 10px;
            font-size: 20px;
        }

        .question-block {
            width: 500px;
            margin: 20px auto;
            font-size: 16px;
        }
    }
}

/* Стили для настольных компьютеров */

@media (min-width: 1025px) {
    .container {
        max-width: 1024px;

        & p {
            font-size: 14px;
        }

        & h1 {
            margin: 30px 0;
            font-size: 24px;
        }

        .demo-text {
            width: 240px;
            font-size: 14px;
        }

        .additional-text {
            width: 530px;
            margin: 30px auto;
            padding: 10px 20px;
            font-size: 18px;
        }

        .additional-text-2 {
            width: 550px;
            font-size: 17px;
        }

        .question-block {
            width: 500px;
            font-size: 14px;

            .question-answers {

                .answer-option {
                    padding: 4px 0;
                }
            }
        }
    }
}
